

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    

}

.main  {
    right: 300px;
    max-width: 350px;
    margin: 2rem auto;
    height: 630px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0,0.5);
    border-radius: 50px; 
    position: relative;
    
}
.main2  {

        left: 500px;
        max-width: 350px;
        margin: 2rem auto;
        height: 650px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0,0.5);
        border-radius: 50px; 
        position: relative;
       
    
}


.tag{
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: black ;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

}

.tag2{
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: black ;
    padding: .5rem 1rem;
    border-radius: 7px;
    color: whitesmoke;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

}
.img2 {
    height: 215px;
    width: 350px;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
  
}



.img {
    height: 250px;
    background-image: url(https://c.tenor.com/HZWwdV3ageQAAAAC/%E7%81%AB%E5%8A%9B%E9%9B%BB%E5%BB%A0-thermal-power-pland.gif); 
    overflow: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
}


.n {
    margin: 50px;
    height: 200px;
    max-width: 250px;
}

.r {
    height: 215px;
    background-image: url(https://thumbs.gfycat.com/SpitefulDeepDromedary-size_restricted.gif); 
    background-position: 50% 0%;
    box-sizing: border-box;
    background-color: gray;
    border-radius: 50px;


}

.k{
    margin: -1rem 0;
    text-align: center;
    border-bottom: 2px solid gray;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
}
.a{
    margin: -1rem 0;
    text-align: center;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: silver;
    border-bottom: 2px solid black;
}

.k h5{

    text-align: left;
    right: 1px;
    border-bottom: 5px solid #e5e5e5;
    font-size: 14px;

}
.a h6{
    text-align: left;
    right: 1px;
    border-bottom: 5px solid #e5e5e5;
    font-size: 14px;
    }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 14px;
  

    
}
.ft-l{
    display: flex;
    align-items: center;
    padding-left: 2rem;

}

.ft-l img{
    max-width: 40px;
    height: 40px;
    border-radius: 50%;

   
    }

.ft-l p{
    
    margin-left: .5rem;
    color: black;
}
.ft-r p{
    margin-right: 1.5rem;
    color: black;
}


.footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 14px;
   
    
}
.ft-l2{
    display: flex;
    align-items: center;
    padding-left: 2rem;


}

.ft-l2 img{
    max-width: 40px;
    height: 40px;
    border-radius: 50%;

    }

.ft-l2 p{
    
    margin-left: .5rem;
    color: white;
}
.ft-r2 p{
    margin-right: 1.5rem;
    color:white;
}


nav{
    margin-top: 5rem;
    color: whitesmoke;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex ;
    justify-content: center;
    
}

body {
    height: 1300px;
    background: url(https://images.unsplash.com/photo-1468657988500-aca2be09f4c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat;
    background-size: cover;
    background-position: center;
}

header > section{
    margin-top: 5rem;
    margin-left: 70rem;
    color: #fff;

}

section > p {
    text-indent: 4rem;
}
 .i{
    height: 400px;
    background: black
    
 }

